APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CACHE=1 # minutes to cache queries for by default (or false for no caching)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_PREFIX=laravel # use this if you have multiple sites running on the same redis server for example
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

WP_ALLOW_MULTISITE=false
MULTISITE=false
SUBDOMAIN_INSTALL=
DOMAIN_CURRENT_SITE=
PATH_CURRENT_SITE=
SITE_ID_CURRENT_SITE=
BLOG_ID_CURRENT_SITE=

ACF_PRO_KEY="your acf key here"

AUTH_KEY="put your unique phrase here"
SECURE_AUTH_KEY="put your unique phrase here"
LOGGED_IN_KEY="put your unique phrase here"
NONCE_KEY="put your unique phrase here"
AUTH_SALT="put your unique phrase here"
SECURE_AUTH_SALT="put your unique phrase here"
LOGGED_IN_SALT="put your unique phrase here"
NONCE_SALT="put your unique phrase here"
